footer.pudding-footer
	padding 3rem 1rem
	font-family 'sunset-gothic-medium'
	background #f3dbba
	position relative
	z-index 100000

	p
		text-align center
	.socials, .newsletter-cta, .patreon-cta, .crosslink-cta
		margin 0 auto
		margin-bottom 4rem
		max-width 48rem
		p
			font-size 3vw
			line-height 1.2
		@media (max-width: 600px)
			p
				font-size 1.2rem
	.crosslink-cta
		margin-bottom 4rem
	.socials, .crosslink-cta
		a
			text-decoration underline
			border none
	.patreon-cta
		padding-top 4rem
		display flex
		flex-direction column
		margin-bottom 3rem
		position relative
		a
			color #fff
			border none
			font-size 16px
			font-weight 600
			margin 0 auto;
			display block
			button
				margin 0 auto
				box-shadow 0 2px 2px rgba(225,98,89,.36)
				background-color #e16259
				border 1px solid #be5643
				border-radius 3px
				padding .5rem 1rem
				display inline-block
				align-self center
				margin-top 2rem
				margin-bottom 2rem
				font-weight 600
				color #fff
	.newsletter-cta
		form
			display flex
			margin 0 auto
			justify-content center
			margin-top 2rem
			margin-bottom 2rem
			width 95%
			.newsletter__input
				background rgba(255,255,255,0.53)
				border 1px solid rgba(0,0,0,0.25)
				border-radius 3px
				margin-right 5px
				padding-left .5rem
				appearance none
				font-size 14px
			.btn
				border 1px solid #4365be
				background-color #5977e1
				color #fff
				border-radius 3px
				font-size 16px
				font-weight 600
				padding .5rem 1rem
				cursor pointer
				box-shadow 0 1px 2px rgba(15,15,15,.15)
				appearance none
	.footer-recirc
		max-width 42rem
		margin 0 auto
		&__articles
			display flex
			flex-wrap wrap
			justify-content space-between

		&__article
			display block
			width 100%
			border none
			margin-bottom 2rem
			+mq('bp-5')
				width calc(25% - 1.5rem)
				margin-right 1.5rem
				&:last-of-type
					margin-right 0

		.article__headline
			font-family 'sunset-gothic-medium'
			set-type-size(large, false)
			line-height 1
			font-weight 700
			text-align center
			padding-left 0.5rem
			// padding-top 1rem

	.footer-company
		margin 0 auto
		margin-top 3rem
		max-width 65rem
		display flex
		flex-direction column
		font-family 'sunset-gothic-medium'
		+mq('bp-5')
			flex-direction row

		&__cta
			order 1
			margin 2rem 0 0 0
			width 100%
			+mq('bp-5')
				width 22rem
				margin 0 0 0 2rem

		&__cta-list
			display flex
			flex-wrap wrap
			flex-direction column
			height 12rem
			+mq('bp-5')
				flex-direction column

			li
				display flex
				width 50%
				margin-bottom 1rem
				align-items center
				+mq('bp-5')
					padding-left 1rem

				a
					display flex
					border none

				p
					font-family 'sunset-gothic-medium'
					margin 0
					padding-left 0.5rem
					padding-top 0.1rem
					line-height 1
					color rgb(40, 40, 40)
					+mq('bp-4')
						set-type-size(large)

				svg
					fill rgb(40, 40, 40)
					stroke none
					vertical-align middle
					circle, polyline, line
						fill none
						stroke rgb(40, 40, 40)
				.feather-mail path, .feather-lock path, .feather-rss path
						stroke rgb(40, 40, 40)
						fill none

		&__about
			order 0
			width 100%
			color rgb(40, 40, 40)
			display flex
			flex-direction column
			+mq('bp-5')
				width calc(100% - 24rem)

			p
				margin 0
				text-align left
				set-type-size(root, false)
				line-height 1.4
			svg
				width 12rem
				margin-bottom 0.5rem
