.text-container
	header
		position relative
		max-width 900px
		width calc(100% - 100px)
		font-family $sans
		margin 0 auto
		padding-top 75px

		.header__container
			display flex
			margin-bottom 30px
			p
				font-family 'sunset-gothic-medium'
				font-size 1rem
				margin-left 1rem
				align-self center
				padding 0


		a.logo
			display block
			border none
			width 150px
			border none
			align-self center

			svg
				fill $off-black
				display block
				width 100%
