.text-container
	header
		position relative
		max-width 900px
		width calc(100% - 100px)
		font-family $sans
		margin 0 auto
		margin-top 1rem

		.header__container
			display flex
			p
				font-family 'sunset-gothic-medium'
				font-size 1rem
				margin-left 1rem
				align-self center


		a.logo
			display block
			border none
			width 150px
			border none
			align-self center

			svg
				fill $off-black
				display block
				width 100%
