/* CUSTOM STORY STYLE */
main
  p
    font-family 'sunset-gothic-medium'



main
  .mapboxgl-control-container
    pointer-events none
    height 100%
    .mapboxgl-ctrl-top-right
      pointer-events all
      top 50%
      transform translate(0,-50%)

.mapboxgl-canvas-container
  &:before
    position absolute
    width 100%
    height min(50px,5vh)
    top 0
    left 0
    background linear-gradient(0deg, #f3dbba00 0%, #f3dbba 100%)
    content ''
    z-index 100
  &:after
    position absolute
    width 100%
    height min(50px,5vh)
    bottom 0
    left 0
    background linear-gradient(180deg, #f3dbba00 0%, #f3dbba 100%)
    content ''
    z-index 100

.mapboxgl-control-container
  position relative
  z-index 1000


html, body
  background #F3DBBA
.step
  height 100vh
  pointer-events none
.text-container
  z-index 1
  position relative
  pointer-events none
  
  
  .text-wrapper
    margin 0 auto
    pointer-events none
    background linear-gradient(180deg, rgba(243,219,186,0) 0%, rgba(243,219,186,.71) 50px, rgba(243,219,186,.71) calc(100% - 50px), rgba(243,219,186,0) 100%)
    position relative
    &:before
      counter-increment section
      content "Fact " counter(section) " of 10"
      position absolute
      top 30px
      left 0
      text-transform uppercase
      font-family 'sunset-gothic-medium'
      max-width 900px
      width calc(100% - 100px)
      margin 0 auto
      right 0
    p
      font-size 7vw
      margin 0 auto
      max-width 900px
      width calc(100% - 100px)
      font-family 'sunset-gothic-medium'
      line-height 1.2
      color rgba(0,0,0,.8)
      pointer-events all
      padding-bottom 50px
      padding-top 70px
      @media (min-width: 1500px)
        font-size 87px
    .song-highlight
      background #312c25
      color #f3dbba
      padding .1vw
      padding-left 1vw
      padding-right 1vw
      text-transform uppercase
      font-size 5vw
      cursor pointer
      svg
        width 6vw
        path
          fill #fff
    .big
      line-height 1.2
      font-size 12vw
      padding-bottom 75px
      @media (min-width: 1500px)
        font-size 120px
  .mini-multiple
    display flex
    flex-wrap wrap
    justify-content center
    .mini-multiple-image
      padding-bottom 50px
      .title
        text-align center
        font-size 15px
        text-transform uppercase
        margin 0 auto
        padding 0
        line-height 1.6
        margin-bottom .5rem
        .song-highlight
          font-size 14px
          padding-left 5px
          padding-right 5px
          color initial
          svg
            width 18px
      img
        margin 0
  .starting-wrapper, .ending-wrapper
    &:before
      visibility hidden
  .starting-wrapper
    background linear-gradient(180deg, rgba(243,219,186,0) 0%, rgba(243,219,186,1) 50px, rgba(243,219,186,1) calc(100% - 50px), rgba(243,219,186,0) 100%)
body
  counter-reset section

.player
  display none
  position fixed
  bottom 1rem
  right 1rem
  z-index 1000
  .close
    top 0
    right 10px
    padding 5px
    position absolute
    transform translate(100%,-50%)
    background black
    color white
    line-height 1


.is-visible
  display block

.fixed-map
  position fixed
  top 50%
  left 0
  width 100%
  height calc(100% - 100px)
  transform translate(0,-50%)
  background none
  //transition transform .2s
  z-index 0
  .chart-title
    position absolute
    bottom 0
    left 0
    right 0
    margin 0 auto
    z-index 10000
    width calc(100% - 100px)
    display flex
    justify-content flex-start
    transition transform .2s
    pointer-events none
    .chart-title-wrapper
      max-width 300px
      p
        text-align left
        margin 0 auto
        line-height 1.2
        text-transform uppercase
        span
          background #f3dbba
      .chart-hed
        font-size 1.5rem
        margin-bottom 20px
      .chart-dek
        font-size 1rem

  .map-container
    width 100%
    height 100%

.mapboxgl-map
  a
    border none

.map-viz
  margin-bottom 6rem

.map-full
  width 100%
  padding-top 60%

.side-by-side
  display flex
  flex-wrap wrap
  margin-top 10rem
  .map-one, .map-two
    width 50%
    overflow visible
    position relative
    padding-top 40%
    .headline
      position absolute
      top -10px
      transform translate(0,-100%)
      left 0
      right 0
      z-index 100
      text-align center
      font-weight 600
      margin 0 auto
      width calc(100% - 50px)
      max-width 400px
      line-height 1.4
      font-size 1.2rem



    @media (max-width: 800px)
      width 100%
