<footer class='pudding-footer'>


	<div class="patreon-cta">
		<p>Enjoy this project? Consider helping fund us on Patreon.</p>
		<a target="_blank" href="https://patreon.com/thepudding" rel="noopener">
			<button type="button" name="button">Become a Patron
			</button>
		</a>
	</div>

	<div class="crosslink-cta">
		<p>You can explore previous months of data in a full explorable map <a href="https://pudding.cool/2018/06/music-map/">here</a>.</p>
	</div>

	<div class="newsletter-cta">
		<p>You should subscribe to our newsletter too.</p>
		<form action="https://poly-graph.us11.list-manage.com/subscribe/post" method="POST">
			<input type="hidden" name="u" value="c70d3c0e372cde433143ffeab">
			<input type="hidden" name="id" value="9af100ac0f">
			<input label="email" class="newsletter__input" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="you@example.com">
			<div class="hidden-from-view" style="left:-10000px;position:absolute">
				<input label="text" type="text" name="b_c70d3c0e372cde433143ffeab_9af100ac0f" tabindex="-1" value="">
			</div>
			<input class="btn" style="" type="submit" name="submit" value="Subscribe">
		</form>
	</div>

	<div class="socials">
		<p>Or follow us on <a target="_blank" href="https://www.instagram.com/the.pudding" rel="noopener">Instagram</a>, <a target="_blank" href="https://twitter.com/puddingviz" rel="noopener">Twitter</a>, <a target="_blank" href="https://www.facebook.com/pudding.viz" rel="noopener">Facebook</a>, and <a href="/feed/index.xml">RSS</a>.</p>
	</div>

	<p>Check out our past few projects too.</p>

	{{!-- recirc --}}
	<div class='footer-recirc'>
		<div class='footer-recirc__articles'></div>
	</div>

	{{!-- company --}}
	<div class='footer-company'>
		<div class='footer-company__cta'>
			<ul class='footer-company__cta-list'>
				<li>
					<a href='https://facebook.com/pudding.viz/'>
						<img inline src='pudding/facebook.svg'>
						<p>FACEBOOK</p>
					</a>
				</li>
				<li>
					<a href='https://twitter.com/puddingviz/'>
						<img inline src='pudding/twitter.svg'>
						<p>TWITTER</p>
					</a>
				</li>
				<li>
					<a href='https://www.instagram.com/the.pudding'>
						<img inline src='pudding/instagram.svg'>
						<p>INSTAGRAM</p>
					</a>
				</li>
				<li>
					<a href='https://patreon.com/thepudding/'>
						<img inline src='pudding/patreon.svg'>
						<p>PATREON</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/about'>
						<img inline src='pudding/info.svg'>
						<p>ABOUT</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/privacy/'>
						<img inline src='lock.svg'>
						<p>PRIVACY</p>
					</a>
				</li>
				<li>
					<a href='http://eepurl.com/czym6f'>
						<img inline src='pudding/mail.svg'>
						<p>NEWSLETTER</p>
					</a>
				</li>
				<li>
					<a href='https://pudding.cool/feed/index.xml'>
						<img inline src='rss.svg'>
						<p>RSS</p>
					</a>
				</li>
			</ul>
		</div>

		<div class='footer-company__about'>
			<p class='footer-company__description'><a href='https://pudding.cool'>The Pudding</a> is a digital publication
				that
				explains ideas debated in culture with visual essays.</p>
		</div>

	</div>
</footer>
