<!-- <div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<time class='intro__time'>Month 2019</time>
</div> -->
<div class="text-wrapper">
	<p>
	Get out of your geographic music bubble.
	</p>
	<p>
	If you listen pop music, no doubt you’ve heard <span class="top-song-in-your-geo"></span>, the most popular song in <span class="your-geo"></span>.
	</p>
	<p>But saddle up and ride to <span class="nearby-geo"></span>, and <span class="top-song-in-nearby-geo"></span> has <span class="top-song-in-your-geo-track"></span>-level popularity.</p>
</div>

<div class="side-by-side">
	<div class="map-one">
		<p class="headline"></p>
	</div>
	<div class="map-two">
		<p class="headline"></p>
	</div>
</div>
<div class="map-full">

</div>
